flows.json
[{"id":"624885f9.4b535c","type":"ui_form","z":"eed5bc27.79a47","name":"","label":"","group":"bf94cdfd.adbe8","order":1,"width":0,"height":0,"options":[{"label":"Gender","value":"gender","type":"number","required":true},{"label":"Age","value":"age","type":"number","required":true},{"label":"Occupation","value":"occupation","type":"number","required":true},{"label":"Stay_years","value":"stay","type":"number","required":true},{"label":"Marital","value":"marital","type":"number","required":true},{"label":"Product_category","value":"prd_categ","type":"number","required":true},{"label":"Purchase","value":"purchase","type":"number","required":true}],"formValue":{"gender":"","age":"","occupation":"","stay":"","marital":"","prd_categ":"","purchase":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":64.10000610351562,"y":283.80002784729004,"wires":[["354c7652.701a8a"]]},{"id":"354c7652.701a8a","type":"function","z":"eed5bc27.79a47","name":"parameters","func":"global.set(\"gender\",msg.payload.gender)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"occupation\",msg.payload.occupation)\nglobal.set(\"stay\",msg.payload.stay)\nglobal.set(\"marital\",msg.payload.marital)\nglobal.set(\"prd_categ\",msg.payload.prd_categ)\nglobal.set(\"purchase\",msg.payload.purchase)\nreturn msg;","outputs":1,"noerr":0,"x":244.10000610351562,"y":229.8000030517578,"wires":[["e40f502b.391fa"]]},{"id":"e40f502b.391fa","type":"http request","z":"eed5bc27.79a47","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":493.1000061035156,"y":372.8000297546387,"wires":[["63c0e9e5.993d18","32fba43c.aff78c"]]},{"id":"63c0e9e5.993d18","type":"function","z":"eed5bc27.79a47","name":"prediction","func":"var token=msg.payload.token\nvar gender=global.get(\"gender\")\nvar age=global.get(\"age\")\nvar occupation=global.get(\"occupation\")\nvar stay=global.get(\"stay\")\nvar marital=global.get(\"marital\")\nvar prd_categ=global.get(\"prd_categ\")\nvar purchase=global.get(\"purchase\")\nmsg.payload={\"fields\":[\"Gender\",\"Age\",\"Occupation\",\"Stay_years\",\"Marital\",\"Product_category\",\"Purchase\"],values:[[gender,age,occupation,stay,marital,prd_categ,purchase]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":469.1000785827637,"y":230.40001487731934,"wires":[["92087ba3.7bb0b8"]]},{"id":"92087ba3.7bb0b8","type":"http request","z":"eed5bc27.79a47","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e73fb861-6de6-4260-9ff9-e55370c99f53/deployments/8e0188af-8da0-4703-8ee3-8f96b64ae048/online","tls":"","proxy":"","authType":"basic","x":604.1001052856445,"y":71.80002975463867,"wires":[["4185e62e.9813a8","2fbf757f.b16bea"]]},{"id":"4185e62e.9813a8","type":"debug","z":"eed5bc27.79a47","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":832.1000595092773,"y":39.00000190734863,"wires":[]},{"id":"32fba43c.aff78c","type":"debug","z":"eed5bc27.79a47","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":746.1000061035156,"y":478.0000057220459,"wires":[]},{"id":"2fbf757f.b16bea","type":"function","z":"eed5bc27.79a47","name":"","func":"msg.payload=msg.payload.values[0][0]\nif(msg.payload==1)\n{\n    msg.payload=\"you are under city_category-A\"\n    return msg;\n}\nelse\n{\n    msg.payload=\"you are under city_category-B\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":688.1000518798828,"y":253.4000072479248,"wires":[["7429684a.c80e88"]]},{"id":"7429684a.c80e88","type":"ui_text","z":"eed5bc27.79a47","group":"bf94cdfd.adbe8","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":908.1000576019287,"y":301.200008392334,"wires":[]},{"id":"bf94cdfd.adbe8","type":"ui_group","z":"","name":"input parameter","tab":"28372677.6e038a","disp":true,"width":"1","collapse":false},{"id":"28372677.6e038a","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]